<h2 class="sub-heading">Edit Rapper</h2>

<div class="form-group">
  <form>
    <input class="form-control" value="UserEditViewModel.user.rap_name" data-ng-model="UserEditViewModel.user.rap_name"/>
    <br>
    <input class="form-control" value="UserEditViewModel.user.image_url" data-ng-model="UserEditViewModel.user.image_url"/>
    <br>
    <input class="form-control" value="UserEditViewModel.user.city" data-ng-model="UserEditViewModel.user.city"/>
    <br>
    <textarea class="form-control" value="UserEditViewModel.user.description" data-ng-model="UserEditViewModel.user.description"/></textarea>
    <br>
    <button class="btn btn-primary" type="Submit" data-ng-click="UserEditViewModel.update()">Change Up</button>
    <button class="btn btn-primary" data-ng-click="UserEditViewModel.destroy()">Fall Off</button>
  </form>
</div>
